APP_NAME="SocDep HUB"
APP_ENV=local
APP_KEY=***LLENAR***
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

# --- CONFIGURACIÓN DE POSTGRESQL (NEON) ---
DB_CONNECTION=pgsql
DB_HOST=ep-cold-surf-aihr7hz4.c-4.us-east-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=centro_deportivo
DB_USERNAME=laravel_user
DB_PASSWORD=*** LLENAR ***
DB_SSLMODE=require

# --- CONFIGURACIÓN DE MONGODB (DOCKER) ---
# Usamos 'nosql' porque así se llama el servicio en tu docker-compose.yml
MONGODB_CONNECTION=mongodb
MONGODB_HOST=nosql
MONGODB_PORT=27017
MONGODB_DATABASE=socdep_telemetry

# --- OTROS SERVICIOS ---
LOG_CHANNEL=stack
LOG_LEVEL=debug
SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database