APP_NAME="SocDep HUB"
APP_ENV=local
APP_KEY=***LLENAR***
APP_DEBUG=true
APP_TIMEZONE=America/Mexico_City
APP_URL=https://localhost:8000

# --- CONFIGURACIÓN DE SANCTUM Y CORS ---
FRONTEND_URL=http://localhost:5173
SANCTUM_STATEFUL_DOMAINS=localhost:5173
SESSION_DOMAIN=localhost

# --- CONFIGURACIÓN DE POSTGRESQL (NEON) ---
DB_CONNECTION=pgsql
DB_HOST=ep-cold-surf-aihr7hz4.c-4.us-east-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=centro_deportivo
DB_USERNAME=laravel_user
DB_PASSWORD=*** LLENAR ***
DB_SSLMODE=require

# --- CONFIGURACIÓN DE MONGODB (DOCKER) ---
#MONGODB_CONNECTION=mongodb
#MONGODB_HOST=nosql
#MONGODB_PORT=27017
#MONGODB_DATABASE=socdep_telemetry

# --- OTROS SERVICIOS ---
LOG_CHANNEL=stack
LOG_LEVEL=debug
SESSION_DRIVER=redis
SESSION_LIFETIME=120
CACHE_STORE=redis

# --- REDIS (Docker local) ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null
EXTERNAL_SUPPORT_URL = ** LLENAR **

#--GMAIL---
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=gcktechhub@gmail.com
MAIL_PASSWORD=*** LLENAR ***
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=gcktechhub@gmail.com
MAIL_FROM_NAME="Soporte GCK TechHub"

#---MONGO ATLAS---
MONGO_URI=mongodb+srv://addministrator_db:admin1234@socdechub.3uhcysr.mongodb.net/SOC_DEP_HUB
MONGO_DB=SOC_DEP_HUB

QUEUE_CONNECTION=database
